* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.font-inter
 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

header {
  background-color:none;
  text-align: center;
}

.header nav {
    width: 85%;
    border: #f31e1e solid 2px;
    margin: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;

  }
nav .nav-menu{
    display: flex;
    gap: 32px;
    list-style: none;
}
nav .nav-menu li a{
    text-decoration: none;
    color: rgb(12, 0, 0);
    font-size: 16px;
    font-weight: 500;
}
.nav-btn{
    padding: 12px 16px;
    background-color: #30B868;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

#banner {
border: 1px solid red;
background-image: url('../Resource/B13-A01-Knowledge-Vault-main/assets/hero-bg.png');
background-size: cover;
height: 575px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
color: #ffffff;
padding: 70px 120px 134px 120px;
text-align: center;
flex-direction: column;

}

#banner .banner-content {
  width: 100%;
  max-width: 800px;
  padding: 0px;


}
.badge {
  background: rgba(255, 255, 255, 1);
  color: #4a8e63;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  align-items: center;

}
.banner-title{
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 16px;
}
#hightlight {
  color: #30B868;
  font-weight: bold;
}
.banner-subtitle{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 32px;

}

.banner-btns{
  display: flex;
  gap: 16px;
  justify-content: center;

}
.banner-btn1{
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  background-color: #469165;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;

}
.arrow-icon{
  width: 20px;
  height: 20px;
}

.banner-btn2{
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  background: transparent;
  color: white;
  border: solid 02px rgb(255, 255, 255);
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}


#note-section{
padding: 0px 120px;
margin: 0px auto;



}
#note-section .section-container{
  width: 90%;
  max-width: 1360px;
  margin: 0px auto;

}





#note-section .section-heading {
  max-width: 759px;
  text-align: center;
  margin: 0 auto;
  
}
#note-section .section-heading h2 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}
#note-section .section-heading p {
  font-size: 16px;
  font-weight: regular;
  line-height: 20px;
  margin-bottom: 44px;
  color: #627382;

}

#note-section .section-container .section-box{
  gap: 24px;
  display: flex;
  
  
}
.section-box .card{
  height: 300px;
  max-width: 322px;
  box-shadow: 0 0 8px 0 #62738245;
  padding: 24px;
  border-radius: 8px;
  align-items: center;
  text-align: center;  
  

}


.card .img{
  width: 32px;
  height: 32px;

}


.bookmark-icon{
  background-color: #F95555;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 14px;
  margin: 16px auto 16px;

}
.card h3{
  font-size: 24px;
  font-weight: 600;
  line-height: auto;
  margin-bottom: 16px;
  color: #001931
  
  

}
.card p{
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  margin: 0 auto;

}

#brain-Section{
  padding: 120px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: red;
}
#brain-Section .brain-content{
  display: flex;
  width: 90%;
  max-width: 1360px;
  gap: 60px;
  align-items: center;
  margin: 0 auto;
}

#brain-Section .brain-content img{
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 12px;
}

#solution-section{
  color: #30B868;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;

}
.brain-info h1{
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  line-height: auto;
  margin-bottom: 16px;

}
.brain-info p{
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
  color: #627382;
  margin-bottom: 40px;

}
.check-list li {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  gap: 6px;
}
  
.check-icon{
  width: 16.25px;
  height: 16.25px;
}

#early-access{
border: 2px solid red;
background-color: #F7F6F2;
margin: 0px 120px 120px 120px;


}
.early-access-content{
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 40px;
  
}

.early-access-content h2{
font-size: 40px;
font-weight: 700;
margin-bottom: 16px;

}
.early-access-content h4{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
  line-height: 20px;
  color: #627382;

}
.btn-early-access{
  gap: 10px;
  display: flex;
  padding: 12px 16px;
  background-color: #30B868;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 16px;
  
}
.early-access-content p{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
  line-height: 20px;
  color: #627382;

}
